.slideshow-container {
	width: 100%;
	height: 83vh;
	position: relative;
	margin: auto;
}

.slide {
	height: 100%;
	display: none;
	overflow: hidden;
	text-align: right;
}
.slide img {
	height: 180%;
	margin-right: 10%;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

.dot {
	cursor: pointer;
	height: 5rem;
	width: 5rem;
	margin: 0 2px;
	background-color: #141414;
	border-radius: 50%;
	display: inline-block;
	background-position: top;
	background-size: cover;
	border: 3px solid #000;
}

.dot.active, .dot:hover {
	border: 3px solid #5C4F90;
	background-color: #222;
}